certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Spyne==0.3.1
idna==2.7
ItsDangerous==1.0.0
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.0
pypi==2.1
pytz==2018.5
PyYAML==3.13
requests==2.20.0
sec-wall==1.2
spyne==2.12.14
suds-jurko==0.6
urllib3==1.24
Werkzeug==0.14.1
